
@font-face {
    font-family: 'iconfont';
    src: url('./iconfont.eot');
    src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
        url('./iconfont.woff2') format('woff2'),
        url('./iconfont.woff') format('woff'),
        url('./iconfont.ttf') format('truetype'),
        url('./iconfont.svg#iconfont') format('svg');
  }
  .iconfont{
      font-family: 'iconfont';
      font-style: normal;
      font-size: 16px;
  }
  .icon-prev-year::before {
      content: '\e70c';
  }
  .icon-prev-month::before {
      content: '\e712';
  }
  
  .icon-next-month::before {
      content: '\e718';
  }
  
  .icon-next-year::before {
      content: '\e70b';
  }